* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{
    background: yellow;
    border-style: solid;
    border-width: 0px;
    border-color: black;

}

.board-row{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.square{
    -webkit-appearance: none;
    border-color: black;
    border-width: 1px;
    margin-right: -1px;
    margin-bottom: -1px;

    width: 40px; /* 52 for desktop */
    height: 40px;/* 52 for desktop */

    /*font-size: 14px;*/
    text-align: center;
}

.predefined{
    pointer-events: none; /* Use this for the predefined number */
    background: lightgrey;
}

.bottom{
    /*width: 100px;*/
    margin-bottom: 0;
}

.right{
    margin-right: 0;
}

.game{
    display: flex;
    justify-content: center;

    height: 600px;
    
    background: pink;
    align-items: center;
}