* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 4vw;
}

.board{
    border-style: solid;
    border-width: 0px;
    /*border-color: black;*/
}

.board-row{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.square{
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    /* border-color: gray; */

    margin-right: -1px;
    margin-bottom: -1px;

    width:11.1vw;
    height: 11.1vw;
    /* font-size: 4vh; */


    text-align: center;
}

.predefined{
    pointer-events: none; /* Use this for the predefined number */
    background: lightgrey;
    backgroud: #737373;
}

.bottom{
    border-bottom-width: 0.8vw;
    border-bottom-color: black;
}

.top{

    border-top-width: 0.8vw; 

    border-top-color: black;
    /* border-top-color: green; */
}

.right{
    border-right-width: 0.8vw;
    border-right-color: black;
}

.left{
    border-left-width: 0.8vw;
    border-left-color: black;
}
/* .form-wrapper{
    display:flex;
} */
.form-div{
    /* height: 100vw; */
    /* background: red;; */
    /* padding: 1%; */
    margin: 0.1vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
    /* align-items: flex-end; */
}

.btn{
    /* height: 30px; */
    cursor: pointer;

    background: white;
    /*border-style: solid;
    border-color: black;
    border-width: 2px; */
    border: 2px solid #555555;
    width: 50%;
    height: 6vh;
    /* font-size: 30px; */
}

.btn:hover{
    background-color: #555555;
    color: white;
}

.speed{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.exp{
    font-weight: 900;
    color: white;
    margin-left: 3vw; 
}


/* .get-random-table{
    margin-right: 1%;
}

.custom-board{
    margin-left: 1%;
} */

.solve-button{
    width: 100%;
}
.delay-input{
    width: 12%;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.delay-input:focus {
    border: 3px solid #555;
  }

.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    /* background: pink; */
    background: grey;   
    align-items: center;
}

/* @media only screen and (max-width: 359px){
   .square{
        width: 11.1%; 
    }
} */

@media only screen and (min-width: 431px) and (max-width: 960px){
    *{
        font-size: 4vw;
    }  
}

@media only screen and (min-width: 961px){
    *{
        font-size: 15px;
    }

    .game{
        width: 468px;
        margin: 0 auto;
    }

    .square{
        width: 52px; /* 52 for desktop */
        height: 52px;
       /* font-size: 16px; */
    }
    .bottom{
        border-bottom-width: 2.4px;    
        border-bottom-color: black;
    }
    
    .top{
        border-top-width: 2.4px;
        border-top-color: black;
    }
    
    .right{
        border-right-width: 2.4px;
        border-right-color: black;
    }
    
    .left{
        border-left-width: 2.4px;    
        border-left-color: black;
    }
}